body {
    font-family: roboto, helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
}

.Header {
    display: flex; 
    background-color: rgb(24, 3, 3);
    color: #F9FAF8;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 70px;
    border: 2px solid red;
   
}

.HeaderLogo {
    display: flex;
    gap: 10px;
}

.HeaderLogo span {
    color: #F9FAF8;
    font-size: 24px;
}

.Header img { 
    height: auto;
    width: 70px;
}

.Hero {
    display: flex;
    background-color: #1F2937;
    text-shadow: 2px 2px 10px rgb(164, 98, 11);
    padding: 20px 70px;
    flex-basis: 1000px;
}
.Hero h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.HeroImage {
    background-image: url("./img/firewood-stacked.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

}

.Hero div {
    flex-basis: 1000px;
}
.Content {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
    padding: 30px 70px 40px;
}


.Content .section1, 
.Content .section2, 
.Content .section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

.Footer {
    display: flex;
    background-color: #1F2937;
}

ul {
    display: flex;   
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

li {
    display: inline;
    border: 2px solid red;
}

li, 
.secondaryTxt {
    color:#e5e7eb;
    font-size: 18px;
}